# Not Ignore
!.gitkeep

# Compiled Class File 
*.class

# Log File 
*.log

# BlueJ Files 
*.ctxt

# Mobile Tools for Java (J2ME) 
.mtj.tmp/

# Package Files 
*.jar 
*.war 
*.nar 
*.ear 
*.zip 
*.tar.gz 
*.rar
*.xlsx
*.xls
# Firtual Machine Crash Logs 
hs_err_pid*

# Mvn Target Folder
target/

# Eclipse
.settings
.project
.classpath
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.wst.common.component
org.eclipse.wst.common.project.facet.core.xml

# Dbeaver
.dbeaver
Scripts

# IDEA
.idea
*.iml

# Mac
.DS_Store

# Other
*.flattened-pom.xml
fileTemplates
inspectionProfiles
